<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/img/logo_bkbooth.png" alt="bkbooth.com.au" style="height: 20px; width: auto;" />
            </a>
        </div>
        <div class="navbar-collapse collapse pull-left" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </div>
        <a data-toggle="modal" href="#contact" class="btn btn-primary navbar-btn pull-right">Contact</a>
    </div>
</header>